<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Audio profesional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="icon" href="../images/logoIco.ico">
</head>
<body>
    <nav>
        <header>
            <div>
                <a href="../index.html" class="div-logo"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Tematica</a></li>
                <li><a href="audio.html">Audio profesional</a></li>
                <li><a href="instrumentos.html">Instrumentos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </header>
    </nav>
    <main>
        <h1>Audio Profesional</h1>
        <section class="productos">
            <div class="producto">
                <img src="../images/BaflePasivo.jpg" alt="Bafle Pasivo" class="preview" onclick="openLightbox('../images/BaflePasivo.jpg')">
                <div class="producto-info">
                    <h2>Bafle pasivo</h2>
                    <p class="descripcion">12″ 180w XCalibur</p>
                    <p class="precio">$119.95</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/BafleAmplificado.jpg" alt="Bafle Amplificado" class="preview" onclick="openLightbox('../images/BafleAmplificado.jpg')">
                <div class="producto-info">
                    <h2>Bafle Amplificado</h2>
                    <p class="descripcion">15″ 1500w USB/SD/BT C/MIC y pedestal Xcalibur</p>
                    <p class="precio">$169.95</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/ConsolaPasiva.jpg" alt="Consola Pasiva" class="preview" onclick="openLightbox('../images/ConsolaPasiva.jpg')">
                <div class="producto-info">
                    <h2>Consola Pasiva</h2>
                    <p class="descripcion">Consola digital 32 canales TouchMix-30 QSC</p>
                    <p class="precio">$3,199.95</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Meduza.jpg" alt="Meduza" class="preview" onclick="openLightbox('../images/Meduza.jpg')">
                <div class="producto-info">
                    <h2>Meduza</h2>
                    <p class="descripcion">SN3210-35MT MEDUZA 32 CH XLR 10 RETORNOS 35 MTS NGK- JP PROAUDIO</p>
                    <p class="precio">$750</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/MicrofonosBateria.jpg" alt="Microfonos para bateria" class="preview" onclick="openLightbox('../images/MicrofonosBateria.jpg')">
                <div class="producto-info">
                    <h2>Microfonos para bateria</h2>
                    <p class="descripcion">504296 E600-DMKIT SET DE 7 MICROFONOS P/BATERIA E602/E604/E614 EVOLUTION SENNHEISER</p>
                    <p class="precio">$1,450</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/MicInalambrico.jpg" alt="Microfono Inalambrico" class="preview" onclick="openLightbox('../images/MicInalambrico.jpg')">
                <div class="producto-info">
                    <h2>Microfono Inalambrico</h2>
                    <p class="descripcion">509734 EW 100 G4-865-S-G MICROFONO INALAMB.VOCAL SUPER CARDIODE COND.566-608 MHZ C/SWITCH SENNHEISER</p>
                    <p class="precio">$1,050</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Power.jpg" alt="Amplificador de sonido" class="preview" onclick="openLightbox('../images/Power.jpg')">
                <div class="producto-info">
                    <h2>Amplificador de sonido</h2>
                    <p class="descripcion">CS4000 AMPLIFICADOR 1350/800 4/8OHM PEAVEY</p>
                    <p class="precio">$1,200</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Subwoofer.jpg" alt="Subwoofer" class="preview" onclick="openLightbox('../images/Subwoofer.jpg')">
                <div class="producto-info">
                    <h2>Subwoofer</h2>
                    <p class="descripcion">EVENT-115A SUBWOOFER AMPLIFICADO 1X15 1200W PEAK DAS</p>
                    <p class="precio">$1,875</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Controlador.jpg" alt="Controlador" class="preview" onclick="openLightbox('../images/Controlador.jpg')">
                <div class="producto-info">
                    <h2>Controlador</h2>
                    <p class="descripcion">OPUSQUAD CONTROLADOR TODO EN UNO DE 4 CANALES PARA REKORDBOX Y SERATO PIONEER DJ</p>
                    <p class="precio">$4,750</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Protector.jpg" alt="Protector para Conector" class="preview" onclick="openLightbox('../images/Protector.jpg')">
                <div class="producto-info">
                    <h2>Protector para conector</h2>
                    <p class="descripcion">BPX-4-YELLOW PROCTECTOR PARA CONECTOR NEUTRIK</p>
                    <p class="precio">$1.00</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
        </section>

        <!-- Lightbox -->
        <div id="lightbox" class="lightbox" onclick="closeLightbox()">
            <span class="close">&times;</span>
            <img id="lightbox-image" class="lightbox-content" src="" alt="Vista previa">
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Acordes y Pasión &copy; Derechos reservados 2024</p>
            <ul class="footer-links">
                <li><a>Política de Privacidad</a></li>
                <li><a>Términos y Condiciones</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            <div class="footer-social">
                <a><img src="../images/facebook.png" alt="Facebook"></a>
                <a><img src="../images/x-icon.png" alt="Twitter"></a>
                <a><img src="../images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </footer>
    <script>
        function openLightbox(src) {
            document.getElementById('lightbox-image').src = src;
            document.getElementById('lightbox').style.display = 'flex';
        }

        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
        }
    </script>
</body>
</html>