<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contactanos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <nav>
        <header>
            <div>
                <a href="../index.html" class="div-logo"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Tematica</a></li>
                <li><a href="audio.html">Audio profesional</a></li>
                <li><a href="instrumentos.html">Instrumentos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </header>
    </nav>
    <main>
        <h1></h1>
    </main>
    <footer>
        Derechos reservados &copy; 2024
    </footer>
</body>
</html>