<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Instrumentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <nav>
        <header>
            <div>
                <a href="../index.html" class="div-logo"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Tematica</a></li>
                <li><a href="audio.html">Audio profesional</a></li>
                <li><a href="instrumentos.html">Instrumentos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </header>
    </nav>
    <main>
        <h1>Instrumentos Musicales</h1>
        <section class="productos">
            <div class="producto">
                <img src="../images/GuitarraElectrica.jpg" alt="Guitarra Eléctrica" class="preview" onclick="openLightbox('../images/GuitarraElectrica.jpg')">
                <div class="producto-info">
                    <h2>Guitarra Eléctrica</h2>
                    <p class="descripcion">Guitarra Electrica Color Cherry Sunburst Strinberg</p>
                    <p class="precio">$489.99</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/BateriaAcustica.jpg" alt="Batería Acústica" class="preview" onclick="openLightbox('../images/BateriaAcustica.jpg')">
                <div class="producto-info">
                    <h2>Batería Acústica</h2>
                    <p class="descripcion">Set de batería acústica de 5 piezas color negro Rebel Mapex</p>
                    <p class="precio">$849.95</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/TecladoDigital.jpg" alt="Teclado Digital" class="preview" onclick="openLightbox('../images/TecladoDigital.jpg')">
                <div class="producto-info">
                    <h2>Teclado Digital</h2>
                    <p class="descripcion">Teclado digital 61 teclas Yamaha PSR-SX900</p>
                    <p class="precio">$3,187.50</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/TecladoCasio.jpg" alt="Teclado" class="preview" onclick="openLightbox('../images/TecladoCasio.jpg')">
                <div class="producto-info">
                    <h2>Teclado Casio</h2>
                    <p class="descripcion">PX-S7000HMC2 PIANO DIGITAL 88 TECLAS CON PEDAL Y ADAPTADOR INAL. CASIO</p>
                    <p class="precio">$2,800</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/PianoDigital.jpg" alt="Piano Digital" class="preview" onclick="openLightbox('../images/PianoDigital.jpg')">
                <div class="producto-info">
                    <h2>Piano Digital</h2>
                    <p class="descripcion">AP-470BKC2 PIANO DIGITAL 88 TECLAS C/ MUEBLE CELVIANO CASIO</p>
                    <p class="precio">$1,735</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/SaxofonTenor.jpg" alt="Saxofon Tenor" class="preview" onclick="openLightbox('../images/SaxofonTenor.jpg')">
                <div class="producto-info">
                    <h2>Saxofon Tenor</h2>
                    <p class="descripcion">Saxofón tenor gold XCalibur W016</p>
                    <p class="precio">$564.95</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Oboe.jpg" alt="Oboe" class="preview" onclick="openLightbox('../images/Oboe.jpg')">
                <div class="producto-info">
                    <h2>Oboe</h2>
                    <p class="descripcion">6403M OBOE JP LE JEUNE</p>
                    <p class="precio">$1,250</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Bajo.jpg" alt="Bajo" class="preview" onclick="openLightbox('../images/Bajo.jpg')">
                <div class="producto-info">
                    <h2>Bajo</h2>
                    <p class="descripcion">Bajo eléctrico de 5 cuerdas activo Negro Rollins ROL717</p>
                    <p class="precio">$400</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Violin.jpg" alt="Violin" class="preview" onclick="openLightbox('../images/Violin.jpg')">
                <div class="producto-info">
                    <h2>Violin</h2>
                    <p class="descripcion">1414MA = 1414H VIOLIN 4/4 PROFESIONAL SALZBURG</p>
                    <p class="precio">$325</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/Euphonium.jpg" alt="Eufonio" class="preview" onclick="openLightbox('../images/Euphonium.jpg')">
                <div class="producto-info">
                    <h2>Eufonio</h2>
                    <p class="descripcion">Trompeta de marcha eufonio Xcalibur WM012</p>
                    <p class="precio">$635</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/EstuchePiano.jpg" alt="Estuche para Teclado" class="preview" onclick="openLightbox('../images/EstuchePiano.jpg')">
                <div class="producto-info">
                    <h2>Estuche para Teclado</h2>
                    <p class="descripcion">G-TOUR 61V2 ESTUCHE RIGIDO P/TECLADO DE 61 NOTAS G-TOUR SERIES C/RODOS GATOR</p>
                    <p class="precio">$835</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/EstucheGuitarra.jpg" alt="Estuche para guitarra" class="preview" onclick="openLightbox('../images/EstucheGuitarra.jpg')">
                <div class="producto-info">
                    <h2>Estuche para guitarra</h2>
                    <p class="descripcion">940-EGCS ESTUCHE DURO P/GUITARRA ELECRICA G310/G400 EPIPHONE</p>
                    <p class="precio">$160</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
            <div class="producto">
                <img src="../images/EstucheEufonio.png" alt="Estuche para eufonio" class="preview" onclick="openLightbox('../images/EstucheEufonio.png')">
                <div class="producto-info">
                    <h2>Estuche para eufonio</h2>
                    <p class="descripcion">1SKB-375 ESTUCHE DURO P/EUFONIO SKB</p>
                    <p class="precio">$275</p>
                    <button>Añadir al carrito</button>
                </div>
            </div>
        </section>

        <!-- Lightbox -->
        <div id="lightbox" class="lightbox" onclick="closeLightbox()">
            <span class="close">&times;</span>
            <img id="lightbox-image" class="lightbox-content" src="" alt="Vista previa">
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Acordes y Pasión &copy; Derechos reservados 2024</p>
            <ul class="footer-links">
                <li><a>Política de Privacidad</a></li>
                <li><a>Términos y Condiciones</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
            <div class="footer-social">
                <a><img src="../images/facebook.png" alt="Facebook"></a>
                <a><img src="../images/x-icon.png" alt="Twitter"></a>
                <a><img src="../images/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </footer>
    <script>
        function openLightbox(src) {
            document.getElementById('lightbox-image').src = src;
            document.getElementById('lightbox').style.display = 'flex';
        }

        function closeLightbox() {
            document.getElementById('lightbox').style.display = 'none';
        }
    </script>
</body>
</html>