<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Nosotros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <nav>
        <header>
            <div>
                <a href="../index.html" class="div-logo"><img src="../images/logo.png" alt="Logo"></a>
            </div>
            <ul class="menu-horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="tematica.html">Tematica</a></li>
                <li><a href="audio.html">Audio profesional</a></li>
                <li><a href="instrumentos.html">Instrumentos</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </header>

    </nav>
    <main class="marco">
        <h1>Sobre Nosotros</h1>

        <section class="nuestra-historia">
            <h2>Nuestra Historia</h2>
            <p>Desde nuestros humildes comienzos, hemos crecido hasta convertirnos en una de las principales tiendas de música
            en Sonsonate. Fundada en 2003, nuestra misión siempre ha sido proporcionar a los músicos y entusiastas del audio los
            mejores productos y un servicio excepcional. Con los años, hemos ampliado nuestra oferta para incluir una amplia gama
            de instrumentos y equipos de audio profesional.</p>
        </section>

        <section class="nuestra-mision">
            <h2>Nuestra Misión</h2>
            <p>En Acordes y Pasión, nuestra misión es enriquecer la vida de nuestros clientes a través de la música. Nos esforzamos
            por ofrecer productos de alta calidad y un servicio al cliente que supere las expectativas. Nuestros valores fundamentales
            incluyen la integridad, la pasión por la música, y un compromiso inquebrantable con la satisfacción del cliente.</p>
        </section>

        <section class="nuestro-equipo">
            <h2>Conoce a Nuestro Equipo</h2>
            <div class="fila">
                <div class="miembro-equipo">
                    <img src="../images/Empleado.png" alt="Carlos Gutiérrez">
                    <h3>Carlos Gutiérrez</h3>
                    <p>Posición: Ingeniero de Sonido</p>
                    <p>
                        Descripción breve: Carlos es un ingeniero de sonido con más de 10 años de experiencia en la industria.
                        Su pasión por la música y la tecnología lo ha llevado a trabajar en una variedad de proyectos, desde grabaciones en estudio hasta eventos en vivo.
                    </p>
                </div>

                <div class="miembro-equipo">
                    <img src="../images/Empleada.png" alt="Abigail Pérez">
                    <h3>Abigail Pérez</h3>
                    <p>Posición: Ingeniera de Sonido</p>
                    <p>
                        Descripción breve: Abigail es una ingeniera de sonido especializada en la mezcla y masterización de audio.
                        Con un oído agudo para los detalles, se asegura de que cada proyecto en el que trabaja alcance la perfección sonora.
                    </p>
                </div>
            </div>
            
            <div class="fila">
                <div class="miembro-equipo">
                    <img src="../images/Empleado.png" alt="Gabriel Gómez">
                    <h3>Gabriel Gómez</h3>
                    <p>Posición: Ingeniero de Sonido</p>
                    <p>
                        Descripción breve: Gabriel es un ingeniero de sonido con una sólida formación técnica.
                        Su habilidad para resolver problemas y su dedicación al oficio lo convierten en un miembro esencial de nuestro equipo.
                    </p>
                </div>

                <div class="miembro-equipo">
                    <img src="../images/Empleada.png" alt="María López">
                    <h3>María López</h3>
                    <p>Posición: Cajera</p>
                    <p>
                        Descripción breve: María es la encargada de asegurar que cada transacción se realice de manera eficiente y precisa.
                        Con su trato amable y atención al detalle, se asegura de que cada cliente tenga una experiencia de compra agradable.
                    </p>
                </div>

                <div class="miembro-equipo">
                    <img src="../images/Empleado.png" alt="Juan Martínez">
                    <h3>Juan Martínez</h3>
                    <p>Posición: Especialista en Publicidad</p>
                    <p>
                        Descripción breve: Juan es el encargado de nuestras campañas publicitarias. Con una visión creativa y un profundo
                        conocimiento del mercado, se asegura de que nuestra marca llegue a la audiencia adecuada de manera efectiva.
                    </p>
                </div>
            </div>
           

        </section>

        <section class="por-que-elegirnos">
            <h2>¿Por Qué Elegirnos?</h2>
            <ul>
                <li><strong>Amplia Selección:</strong> Ofrecemos una variedad extensa de instrumentos y equipos de audio para satisfacer todas las necesidades musicales.</li>
                <li><strong>Expertos en Música:</strong> Nuestro personal está compuesto por músicos y técnicos con amplia experiencia en la industria.</li>
                <li><strong>Atención Personalizada:</strong> Brindamos un servicio personalizado para ayudarte a encontrar el producto perfecto para ti.</li>
                <li><strong>Precios Competitivos:</strong> Trabajamos para ofrecer los mejores precios sin comprometer la calidad.</li>
            </ul>
        </section>
    </main>
    <footer>
        Acordes y Pasion &copy;Derechos reservados 2024
    </footer>
</body>
</html>